<footer class="l-footer">
  <div class="container">
    <p><strong>Toques et Clochers 2016</strong></p>
    <ul>
      <li><a href="/posts"><div><span class="txt-fr">Articles</span><span class="txt-en">Posts</span></div></a></li>
      <li><a href="/about"><div><span class="txt-fr">À propos de</span><span class="txt-en">About</span></div></a></li>
    </ul>
    <ul>
      <li><a href="https://www.facebook.com/{{ site.facebook_username }}"><div><span class="txt-facebook">{{ site.facebook_username }}</span><span class="txt-en">Facebook</span></div></a></li>
      <li><a href="https://twitter.com/{{ site.twitter_username }}"><div><span class="txt-twitter">{{ site.twitter_username }}</span><span class="txt-en">Twitter</span></div></a></li>
    </ul>
  </div>
</footer>
