<footer class="l-footer">
  <div class="container">
    <p><strong>Toques et Clochers 2016</strong></p>
    <ul>
      <li><a href="/posts"><div><span class="txt-fr">Articles</span><span class="txt-en">Posts</span></div></a></li>
      <li><a href="/about"><div><span class="txt-fr">À propos de</span><span class="txt-en">About</span></div></a></li>
    </ul>
    <ul>
      <li><a href="https://www.facebook.com/toquesetclocher2016"><div><span class="txt-facebook">toquesetclocher2016</span><span class="txt-en">Facebook</span></div></a></li>
      <li><a href="https://twitter.com/toquesetclocher"><div><span class="txt-twitter">toquesetclocher</span><span class="txt-en">Twitter</span></div></a></li>
    </ul>
  </div>
</footer>
