<header class="l-header">
  <div class="container">
    <a class="main-anchor" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="l-nav">
      <a href="/info/2015/04/25/les-commissions.html"><div><span class="txt-fr">Commissions</span><span class="txt-en">Committees</span></div></a>
      <a href="/posts"><div><span class="txt-fr">Articles</span><span class="txt-en">Posts</span></div></a>
      <a href="/about"><div><span class="txt-fr">À propos de</span><span class="txt-en">About</span></div></a>
    </nav>
 </div>
</header>
