$base-unit: 1.4em;
$bp-screen-md: 30em;
$bp-screen-lg: 45em;

@mixin breakpoint($size) {
  @media all and (min-width: $size) {
    @content;
  }
}

html {
  height: 100%;
  font: 1em/1.8em $font-body;
}

body {
  background: $white;
  color: $black;
}

h1 {
  font-size: $font-md;
  line-height: $base-unit;
  padding: 0;
  font-weight: $font-normal;
  @include breakpoint($bp-screen-md) {
    font-size: $font-lg;
  }
}

h2 {
  padding: 0;
  font-size: $font-sm;
  line-height: $base-unit;
  font-weight: $font-bold;
}

h3 {
  font-size: $font-sm;
  line-height: $base-unit;
  font-weight: $font-bold;
  padding: $base-unit / 2 0;
  @include breakpoint($bp-screen-md) {
    font-size: $font-md;
  }
}

p {
  padding-bottom: $base-unit;
}

a {
  color: $brand-color;
  text-decoration: underline;
}

pre {
  padding: $base-unit;
  margin-bottom: $base-unit;
  font-family: $font-monospace;
  border: 1px solid $gray;
  border-radius: 4px;
}

code {
  font-family: $font-monospace;
}

ul {
  list-style-position: inside;
}

