@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both
  }
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.l-header {
}

.l-header-sky {
  padding-top: $base-unit * 4;
  @include breakpoint($bp-screen-md) {
    padding-top: $base-unit * 8;
  }
  background: $gray;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: -$base-unit * 3;
  padding-bottom: $base-unit;
}

.is-hidden {
  display: none;
}
