@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both
  }
}

.container {
  width: 95%;
  max-width: 65em;
  margin: 0 auto;
}

.l-header {
  overflow: hidden;
  background: $gray-100;
}

.l-nav {
  float: right;
  a {
    display: inline-block;
    padding: $base-unit / 2 $base-unit;
    text-decoration: none;
    &:hover {
      background: $hero-color;
      color: $white;
      .txt-en {
        color: $white;
      }
    }
  }
  div {
    line-height: 1.2em;
  }
  .txt-en {
    display: block;
    font-size: $font-xs;
  }
}

.main-anchor {
  float: left;
  width: 40%;
  padding-top: $base-unit / 3;
  font-size: $font-md;
  text-decoration: none;
}

.l-hero {
  background: url(/assets/images/bg-hero.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 33em;
}

.poster {
  display: block;
  margin: 0 auto;
  width: 380px;
  padding-top: $base-unit * 4;
}

.is-hidden {
  display: none;
}
