@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both
  }
}

.container {
  width: 95%;
  max-width: 65em;
  margin: 0 auto;
}

.l-header {
  padding: $base-unit / 1.5 0;
  background: $gray-100;
  a {
    font-size: $font-md;
    text-decoration: none;
  }
}

.l-hero {
  background: url(/assets/images/bg-hero.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 40em;
}

.poster {
  display: block;
  margin: 0 auto;
  width: 380px;
  padding-top: $base-unit * 4;
}

.is-hidden {
  display: none;
}
