.post-link {
  font-size: $font-md;
  text-decoration: none;
  .txt-en {
    display: block;
    font-size: $font-xs !important;
    font-weight: $font-normal;
  }
}

.post-header {
  padding-bottom: $base-unit;
  @include clearfix;
  .txt-fr, .txt-en {
    @include breakpoint($bp-screen-md) {
      float: left;
      width: 45.5%;
      margin-left: 9%;
      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }
}

.post-content {
  padding-top: $base-unit;
  padding-bottom: $base-unit * 8;
  @include clearfix;
  .txt-fr, .txt-en {
    padding-bottom: $base-unit;
    @include breakpoint($bp-screen-md) {
      float: left;
      width: 45.5%;
      margin-left: 9%;
      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }

  ul {
    list-style-type: disc;
  }
}
