@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

$font-heading: serif;
$font-body: "PT Serif", serif;
$font-monospace: monospace;
$font-bold: 700;
$font-normal: 400;

// Modular scale http://modularscale.com/scale/?px1=14&px2=&ra1=1.5&ra2=0
$font-xxl: 5.06em;
$font-xl: 3.37em;
$font-lg: 2.25em;
$font-md: 1.5em;
$font-sm: 1em;
$font-xs: .8em;

.txt-centered {
  text-align: center;
}

.txt-sm {
  font-size: $font-xs;
}

::selection {
  background: $brand-color;
  color: $white;
}
::-moz-selection {
  background: $brand-color;
  color: $white;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: $brand-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $brand-color;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $brand-color;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $brand-color;
}

.txt-fr {
}

.txt-en {
  color: $gray-500;
  font-style: italic;
}

.txt-icon {
  position: relative;
  padding-left: $base-unit;
  &:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
  }
}

.txt-twitter {
  @extend .txt-icon;
  &:before {
    background: url(/assets/images/twitter.svg);
  }
}

.txt-facebook {
  @extend .txt-icon;
  &:before {
    background: url(/assets/images/facebook.svg);
  }
}

.txt-title {
  padding: $base-unit / 4;
  border-radius: 4px;
  background: $hero-color;
  color: $white;
}

.txt-date {
  font-size: $font-lg;
  padding-top: 20px;
  padding-bottom: 20px;
}

.txt-block {
  p {
    &:first-child {
      padding-bottom: 0;
      line-height: 1em;
    }
  }
}
